<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender
        name="LOGCAT"
        class="ch.qos.logback.classic.android.LogcatAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender
        name="LOGS"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/sdcard/Android/data/de.evosec.fotilo/files/fotilo.txt
        </file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/sdcard/Android/data/de.evosec.fotilo/files/fotilo.%d{yyyy-MM-dd}.%i.txt
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern><![CDATA[%d [%thread] %-5level %logger{55} - %msg%n]]></pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="LOGCAT" />
        <appender-ref ref="LOGS" />
    </root>

</configuration>
